.results {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 20px;

    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 11px rgba(0,0,0,.5);

    h5 {
        margin: 0;
    }

    &__heading-wrap {
        display: flex;
        align-items: center;
    }

    p {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    &__words {
        font-style: italic;
        &_main {
            font-size: 20px;
        }
    }

    &__counter {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 25px;
        height: 16px;
        margin: 0;
        margin-left: 5px;

        font-size: 12px;

        color: white;
        border-radius: 10px;

        &_correct {
            background-color: green;
        }

        &_incorrect {
            background-color: red;
        }
    }

    hr {
        width: 65%;
        margin: 8px 0 4px;
    }
}
