.crossword {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    overflow-x: hidden;

    &__header {
        margin-bottom: 20px;
    }
    &__game-field {
        margin: 0 auto 20px;
    }

    &__questions {
        padding: 0 10px;
        p {
            margin: 0;
        }
        i {
            font-size: 17px;
        }
    }
    &__difficulty {
        margin-bottom: 20px;
    }

    &__new-game-button {
        height: 50px;
        margin: 20px 5px 0;
        padding: 0 60px;

        font-size: 22px;

        color: white;
        border: 1px solid transparent;
        border-radius: 5px;
        background-color: #00a6c4;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, .25);

        &:hover {
            position: relative;
            right: 2px;
            bottom: 2px;

            box-shadow: 4px 4px 6px rgba(0, 0, 0, .2);

            transform: scale(1.01);
        }
    }

    b {
        font-size: 17px;

        color: #00a6c4;
    }

    h3 {
        margin: 0px;

        font-size: 24px;

        color: #00a6c4;

        text-align: center;
    }

    h4{
        margin: 0px;

        font-size: 17px;

        color: #00a6c4;

        text-align: center;
    }

    &__idk {
        color: red;
        cursor: pointer;
        font-size: 12px;
        position: relative;
        top: -1px;
    }

    &__loading {
        height: 415px;
        display: flex;
    }
}